.update{

    &__bg{
        width: 100%;
        height: 220px;
        position: relative;
        background-image: url("../img/update.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(min-width: $mq1){ height: 260px; }
        @media(min-width: $mq2){ height: 100%; }
    }

    &__info{
        @include flex(flex, center, center, column, wrap);
        height: 320px;
        width: 100%;
        position: relative;
        background: $bg;
        padding: $gap;
        @media(min-width: $mq2){
            @include flex(flex, flex-start, flex-start, column, wrap);
            width: 425px;
            height: auto;
            position: absolute;
            padding-right: 75px;
            background: none;
        }
        @media(min-width: $mq3){ width: 540px; }
    }
    &__description{
        margin-top: 15px;
        margin-bottom:20px;
        text-align: center;
    }
}
