div.banner
    div.banner__bg
    section.banner__info
        h2.banner__title Este es tu 365
        p.banner__description Descubre lo que puedes hacer todos los días con Office 365
        a.banner__link.button(href="#") COMPRAR AHORA >
        
    //- section.banner__item.banner__item-l
    //-     h2.banner__title Xbox Game Pass Ultimate
    //-     p.banner__description Xbox Live Gold y más de 100 excelentes juegos para consola y PC. Juega junto a tus amigos y descubre tu próximo juego favorito.
    //-     a.banner__link(href="#") COMPRAR AHORA >
