footer.footer
    div.footer__generic
        div.footer__list
            a(href="#").footer__link.footer__link--title Novedades
            a(href="#").footer__link Xbox One X
            a(href="#").footer__link Xbox One S
            a(href="#").footer__link Aplicaciones de Windows 10 
            a(href="#").footer__link Aplicaciones de Office
        div.footer__list
            a(href="#").footer__link.footer__link--title Microsoft Store
            a(href="#").footer__link Perfil de la cuenta
            a(href="#").footer__link Centro de descargas
            a(href="#").footer__link Soporte de Microsoft Store
            a(href="#").footer__link Devoluciones y reembolsos
            a(href="#").footer__link Seguimiento de pedidos
        div.footer__list
            a(href="#").footer__link.footer__link--title Educaci칩n
            a(href="#").footer__link Office 365 para escuelas
            a(href="#").footer__link Microsoft Azure en educaci칩n
        div.footer__list
            a(href="#").footer__link.footer__link--title Grandes empresas
            a(href="#").footer__link Azure
            a(href="#").footer__link AppSource
            a(href="#").footer__link Automotriz
            a(href="#").footer__link Gobierno
            a(href="#").footer__link Atenci칩n para la salud
            a(href="#").footer__link Manufactura
            a(href="#").footer__link Servicios financieros
            a(href="#").footer__link Comercio directo
        div.footer__list
            a(href="#").footer__link.footer__link--title Desarrollador
            a(href="#").footer__link Microsoft Visual Studio
            a(href="#").footer__link Red de desarrolladores
            a(href="#").footer__link TechNet
            a(href="#").footer__link Channel 9
            a(href="#").footer__link Centro de desarrolladores de  Office
        div.footer__list
            a(href="#").footer__link.footer__link--title Compa침ia
            a(href="#").footer__link Trabajos 
            a(href="#").footer__link Acerca de Microsoft  
            a(href="#").footer__link Privacidad de Microsoft
            a(href="#").footer__link Inversionistas 
