header.header
    img.header__trigger.login-menu__icon#trigger-menu(src="img/menu.svg", alt="Ícono de menu")
    div.header__generic
        img.header__logo(src="img/microsoft.svg", alt="Ícono de microsoft")
    
    nav.main-menu
        ul.main-menu__list#main-menu
            li.main-menu__item
                a.main-menu__link(href="#") Office
            li.main-menu__item
                a.main-menu__link(href="#") Windows
            li.main-menu__item
                a.main-menu__link(href="#") Xbox
            li.main-menu__item
                a.main-menu__link(href="#") Soporte
    
    //- div.login-menu
    img.login-menu__icon(src="img/search.svg", alt="Ícono de búsqueda")
    img.login-menu__icon(src="img/cart.svg", alt="Ícono de compra")
    img.login-menu__icon(src="img/account.svg", alt="Ícono de cuenta")
        
