doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")     
        meta(name="author", content="Ricardo Oliva Alonso")
        meta(name="title", content="Ricardo Oliva Alonso | Desarrollador Web | Microsoft")
        meta(name="description", content="Hola soy desarrollador web y esta página esta basada en Microsoft.")
        meta(name="robots", content="index, follow")
        title Ricardo Oliva Alonso | Desarrollador Web | Microsoft
           
        meta(name="theme-color", content="#616161")      
        link(rel="stylesheet", href="css/styles.css")  
        link(href="img/favicon.png", rel="shorcut icon", type="image/x-icon")
          
        <!-- Global site tag (gtag.js) - Google Analytics -->
  
                    
    body
        div.main-container
            include header.pug
            include banner.pug  
            include xbox.pug
            include update.pug
            include windows.pug
            include social.pug
        include footer.pug
            
        script( src="js/main.js", defer)
    



    
