div.update
    div.update__bg

    section.update__info
        h2.update__title Actualización de Windows 10
        p.update__description Nuevas características que te ayudarán a dedicarte a lo que te apasiona, a conectarte más y a devolver un poco de tu tiempo
        a.update__link.button(href="#") MÁS INFORMACIÓN >
