div.windows
    article.card__item
        img.card__img(src="img/windows-1.jpg", alt="Imagen de card")
        h3.card__title Windows 10 Enterprise
        p.card__description Descarga la evaluación gratuita de 90 días para profesionales de TI.
        a.card__link(href="#") DESCÁRGALO AHORA#[span >]
        
    article.card__item
        img.card__img(src="img/windows-2.jpg", alt="Imagen de card")
        h3.card__title Office 365 para empresas
        p.card__description Accede a tus archivos desde cualuier lugar, en linea o sin conexión.
        a.card__link(href="#") COMPRAR AHORA#[span >]
        
    article.card__item
        img.card__img(src="img/windows-3.png", alt="Imagen de card")
        h3.card__title Microsoft Azure
        p.card__description Empiece a desarrollar aplicaciones web hoy mismo.
        a.card__link(href="#") ABRA UNA CUENTA AZURE GRATUITA#[span >]
        
    article.card__item
        img.card__img(src="img/windows-4.jpg", alt="Imagen de card")
        h3.card__title Adquiere Visual Studio 2019
        p.card__description Descarga Visual Studio 2019, el IDE productivo, moderno e innovador.
        a.card__link(href="#")  DESCÁRGALO AHORA#[span >]
