div.xbox
    article.card__item
        img.card__img(src="img/xbox-1.jpg", alt="Imagen de card")
        h3.card__title PC Windows
        p.card__description Windows cobra vida en estos equipos de gama alta.
        a.card__link(href="#") OBTÉN MÁS INFORMACIÓN#[span >]
        
    article.card__item
        img.card__img(src="img/xbox-2.jpg", alt="Imagen de card")
        h3.card__title Xbox One S
        p.card__description Lo último en sistemas de juegos y entretenimiento en 4K.
        a.card__link(href="#") MÁS INFORMACIÓN#[span >]
        
    article.card__item
        img.card__img(src="img/xbox-3.jpg", alt="Imagen de card")
        h3.card__title Microsoft Store
        p.card__description Encuentra lo que necesitas para el hogar, la ecuela, el trabajo y para divertirte.
        a.card__link(href="#") CÓMPRALA AHORA#[span >]
        
    article.card__item
        img.card__img(src="img/xbox-4.png", alt="Imagen de card")
        h3.card__title Xbox Game Pass para PC (Beta)
        p.card__description Descubre tu próximo juego favorito. Como continuamente agregamos nuevos títulos.
        a.card__link(href="#") COMPRAR AHORA#[span >]
